<footer>
  <div class="container">
    <nav>
      <ul class="nav-menu">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
    <ul class="sns">
      <li><%= link_to "Twitter", "https://twitter.com/toyokappa" %></li>
      <li><%= link_to "Facebook", "https://www.facebook.com/yuta.toyokawa" %></li>
      <li><%= link_to "GitHub", "https://github.com/toyokappa" %></li>
    </ul>
    <small>&copy; 2017 toyokappa.</small>
  </div>
</footer>
